@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
/* custom components imports */
@import './styles/buttons.css';
@import './styles/containers.css';
@import './styles/cards.css';

* {
  margin: 0;
  padding: 0;
}

@layer base {
  span:not(button span, aside span),
  li {
    @apply text-gray-800 lg:text-xl;
  }
  .categories {
    @apply flex-wrap;
  }
  .categories li {
    @apply bg-gradient-to-b from-amber-100/20  duration-200 to-black/30 w-44 h-28 rounded flex flex-col items-center hover:-translate-y-2 cursor-pointer justify-center gap-10 relative outline outline-2 outline-slate-800;
  }

  .categories li img {
    @apply w-[130px] h-[100px] object-cover absolute -top-14;
  }

  p {
    @apply text-sm md:text-lg text-gray-800;
  }

  main {
    @apply my-5;
  }

  h1 {
    @apply text-xl md:text-4xl text-gray-800;
  }

  h2 {
    @apply text-xl md:text-2xl text-gray-800;
  }

  h3 {
    @apply lg:text-xl text-gray-800;
  }

  button {
    @apply p-3;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}
